.fullsite {
  text-align: center;
  background-color: #B0C4DE;
}

.navbar {
  padding-top: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 62px;
  width: 1025px;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000080;
  color: white;
  z-index: 1;
  display: table;
}

.selectorbutton {
  background-color: #000080;
  border: 2px solid #FFFF00;
  color: white;
  padding: 5px 13px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 3px 1px;
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  outline: 1px solid black;
  z-index: 2;
}

.navbarsitename {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  z-index: 2;
}

.navbarselectortext {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  vertical-align: middle;
  z-index: 2;
}

.createpostform {
  margin-top: 95px;
}

.createpostintrotext {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  z-index: 0;
  color: black;
}

.createpostcategorycontainer {
  position: relative;
  left: 18px;
}

.createpostcategorytext {
  font-family: Helvetica, sans-serif;
  font-size: 14.5px;
  z-index: 0;
  color: black;
}

.createpostcategorymenu {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding: 3px;
  border: 0.75px solid black;
  z-index: 0;
  color: black;
}

.createpostfilecontainer {
  position: relative;
  left: 42px;
}

.createpostfiletext {
  font-family: Helvetica, sans-serif;
  font-size: 14.5px;
  z-index: 0;
  color: black;
}

input[type=file]::file-selector-button {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 6px;
  padding-right: 6px;
  border: 0.75px solid black;
  z-index: 0;
  color: black;
  background-color: white;
}

.intextalign * {
  vertical-align: middle;
}

.createposttextcontainer {
  position: relative;
  right: 24px;
}

.createposttextdisplay {
  font-family: Helvetica, sans-serif;
  font-size: 14.5px;
  z-index: 0;
  color: black;
}

.createposttextadd {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding: 3px;
  border: 0.75px solid black;
  z-index: 0;
  color: black;
}

.createpostsubmitbutton {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 6px;
  padding-right: 6px;
  border: 0.75px solid black;
  z-index: 0;
  color: black;
  background-color: white;
  position: relative;
  top: -6.5px;
}

.sidebarcontainer {
  text-align: center;
  z-index: 2;
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 320px;
  width: 215px;
  border: 1.75px solid black;
  position: fixed;
  right: 36px;
  float: right;
  top: 130px;
}

.sidebarintrotext {
  font-weight: bold;
  color: red;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
}

.sidebarlinkbutton {
  vertical-align: middle;
  background-color: #000080;
  color: white;
  width: 175px;
  height: 15.5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

figure {
  border: 2px black solid;
  padding: 2.5px;
  width: 450px;
  margin-left: 400px;
  margin-right: 500px;
  margin-bottom: 15px;
}

figcaption {
  background-color: white;
  color: black;
  padding: 2px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

img {
  position: relative;
  width: 450px;
  height: 300px;
  object-fit: cover;
}
