.fullsite {
  text-align: center;
  background-color: #B0C4DE;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 62px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #000080;
  color: white;
  z-index: 1;
  display: table;
}

.selectorbutton {
  background-color: #000080;
  border: 5px solid #FFFF00;
  color: white;
  padding: 13px 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 3px 1px;
  cursor: pointer;
  outline: 1px solid black;
  z-index: 2;
}

.navbarselectortext {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  z-index: 2;
}

.createpostform {
  margin-top: 75px;
}

.intextalign * {
  vertical-align: middle;
}

img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}
